<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fastlib.demo" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".app.AppApplication"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Design.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="myComponentFactory">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".route.RouteDemoActivity"/>
        <activity android:name=".route.RouteDemoSecondActivity"/>
        <activity android:name=".list_view.ListDemoActivity"/>
        <activity android:name=".net.NetDemoActivity"/>
        <activity android:name=".aspect.AspectDemoActivity"/>
        <activity android:name=".aspect.SecondActivity"/>
        <activity android:name=".net.CloudActivity"/>
    </application>
</manifest>
