<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fastlib">

    <application
        android:label="fastlib"
        android:logo="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/MaterialTheme"
        android:usesCleartextTraffic="true">

    </application>
</manifest>
